# Flutter/Dart related
.dart_tool/
.packages
.pub/

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Flutter/ephemeral/
*.flutter-plugins
*.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Misc
*.log
*.lock
*.tmp
*.swp

# MacOS
.DS_Store

# Android Studio
android/.gradle
android/app/build
android/local.properties

# Others
.packages
.pub-cache/
